[submodule ".registry"]
	path = .registry
	url = https://github.com/amoeba/amoeba.r-universe.dev
	branch = HEAD
[submodule "eatocsv"]
	path = eatocsv
	url = https://github.com/amoeba/eatocsv
	branch = master
[submodule "pkgsci"]
	path = pkgsci
	url = https://github.com/amoeba/pkgsci
	branch = master
[submodule "upriver"]
	path = upriver
	url = https://github.com/amoeba/upriver
	branch = master
